set  _ENDIAN little
set _TAP_TYPE 1234

set cpu_count 1
set instr_addr 0x00001000

if { $LEGACY_IDE == 0 } {
    # Initialize proj_loc to an empty string
	set proj_loc ""

	# Maximum levels to go up (adjust as needed)
	set max_levels 3

	# Loop through parent directories
	for {set i 0} {$i <= $max_levels} {incr i} {
		set path ".."
		for {set j 0} {$j < $i} {incr j} {
        append path "/.."
		}
		set yaml_path "$path/cpu0.yaml"

		if {[file exists $yaml_path]} {
			set proj_loc $path
			break
	}
	}

	# If cpu.yaml was found, proceed
	if {$proj_loc != ""} {
		#puts "Found cpu.yaml at: $proj_loc"
	} else {
		puts "cpu.yaml not found within $max_levels levels"
	}

    #set proj_loc ..//..//..//
    
    adapter speed 800
    adapter srst delay 260
    jtag_ntrst_delay 250
    
    set _CHIPNAME fpga_spinal
    jtag newtap $_CHIPNAME bridge -expected-id $_CPUTAPID -irlen 4 -ircapture 0x1 -irmask 0xF 
    
    if { $STANDARD_DEBUG == 0 } {
        for {set i 0} {$i < $cpu_count} {incr i} {
            target create $_CHIPNAME.cpu$i vexriscv -endian $_ENDIAN -chain-position $_CHIPNAME.bridge -coreid $i -dbgbase [expr $i*0x1000+0x10B80000] -work-area-phys 0xF9000000 -work-area-size 1024
            vexriscv readWaitCycles 40
            vexriscv cpuConfigFile $proj_loc/cpu$i.yaml
            vexriscv jtagMapping 8 8 0 1 2 2  
        }
    } else {
        for {set i 0} {$i < $cpu_count} {incr i} {
            target create $_CHIPNAME.cpu$i riscv -endian $_ENDIAN -chain-position $_CHIPNAME.bridge -coreid $i -dbgbase [expr $i*0x1000+0x10B80000] -work-area-phys 0xF9000000 -work-area-size 1024
        }
    }
    #insert target tap(s) info#
    #start#
    
    #end#
    
    flash bank xip vexriscv_nor_spi 0x00000000 0x100000 0 0 $_CHIPNAME.cpu0 0xF8014000
    
    for {set i 0} {$i < $cpu_count} {incr i} {
        targets $_CHIPNAME.cpu$i
        poll_period 50
        init
        soft_reset_halt
    }
} else {
    set workspace $::env(workspace_loc)
    
    adapter_khz 800
    adapter_nsrst_delay 260
    jtag_ntrst_delay 250
    
    set _CHIPNAME fpga_spinal
    jtag newtap $_CHIPNAME bridge -expected-id $_CPUTAPID -irlen 4 -ircapture 0x1 -irmask 0xF 
    
    if { $STANDARD_DEBUG == 0 } {
        for {set i 0} {$i < $cpu_count} {incr i} {
            target create $_CHIPNAME.cpu$i vexriscv -endian $_ENDIAN -chain-position $_CHIPNAME.bridge -coreid $i -dbgbase [expr $i*0x1000+0x10B80000] -work-area-phys 0xF9000000 -work-area-size 1024
            vexriscv readWaitCycles 40
            vexriscv cpuConfigFile $proj_loc/cpu$i.yaml
            vexriscv jtagMapping 8 8 0 1 2 2  
        }
    } else {
        for {set i 0} {$i < $cpu_count} {incr i} {
            target create $_CHIPNAME.cpu$i riscv -endian $_ENDIAN -chain-position $_CHIPNAME.bridge -coreid $i -dbgbase [expr $i*0x1000+0x10B80000] -work-area-phys 0xF9000000 -work-area-size 1024
        }
    }
 
    flash bank xip vexriscv_nor_spi 0x00000000 0x100000 0 0 $_CHIPNAME.cpu0 0xF8014000
    
    for {set i 0} {$i < $cpu_count} {incr i} {
        targets $_CHIPNAME.cpu$i
        poll_period 50
        init
        soft_reset_halt
    }

}
